@using Dominio
@model Persona

<div>
    <h1>Perfil</h1>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre

        </dd>
        <dt class="col-sm-2">
            Telefono
        </dt>
        <dd class="col-sm-10">
            @Model.Telefono
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>

        <dt class="col-sm-2">
            Rol
        </dt>
        <dd class="col-sm-10">
            @Model.Rol
        </dl>

        <h2>Cuentas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Tiene Multifactor
                    </th>
                    <th>
                        Fecha cambio de contraseña
                    </th>
                </tr>
            </thead>
            @{
                List<Cuenta> cuentasMostradas = new List<Cuenta>();
            }
            <tbody>
                @foreach (var activo in (List<Dominio.Activo>)ViewBag.Activos)
                {
                    if (!cuentasMostradas.Contains(activo.CuentaResponsable))
                    {
                        cuentasMostradas.Add(activo.CuentaResponsable);
                        <tr>
                            <td>
                                @activo.CuentaResponsable.Id
                            </td>
                            <td>
                                @activo.CuentaResponsable.Titular
                            </td>
                            <td>
                                @activo.CuentaResponsable.TieneMfa

                            </td>
                            <td>
                                @activo.CuentaResponsable.FechaCambioPass
                            </td>
                            <td>
                                @*   @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Desactivar", "Delete", new { id = item.Id }) *@
                            </td>
                        </tr>
                    }
                }

                }
            </tbody>
        </table>




    </div>