@using Dominio
@model Persona
<h1>Detalles</h1>
<div>
    <h4>@Model.Nombre</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre
        </dd>
        <dt class="col-sm-2">
            Telefono
        </dt>
        <dd class="col-sm-10">
            @Model.Telefono
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>

        <dt class="col-sm-2">
            Rol
        </dt>
        <dd class="col-sm-10">
            @Model.Rol
        </dl>
    </div>