@using Dominio
@model List<Activo>
<h2>Activos</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo alfanumerico
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tipo de activo
            </th>
            <th>
                Criticidad
            </th>
            <th>
                Cuenta responsable
            </th>
            <th>
                Tiene backup
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activo in Model)
        {
            <tr>
                <td>
                    @activo.CodigoAlfanumerico
                </td>
                <td>
                    @activo.Nombre
                </td>
                <td>
                    @activo.UnActivo

                </td>
                <td>
                    @activo.Criticidad
                </td>
                <td>
                    @activo.CuentaResponsable
                </td>
                <td>
                    @activo.TieneBackup
                    <td>
                        @Html.ActionLink("Desasociar activo", "Edit", "Activo", new { id = activo.CodigoAlfanumerico})

                    </td>
                </tr>
            }
        </tbody>
    </table>
